@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303640;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    gap: 2.5rem;
    margin: 50px auto;
    padding: 2rem;
    position: relative;
}

div[role="progressbar"] {
    --size: 15rem;
    --fg: #16571A;
    --bg: #16171A;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(closest-side, #303640 90%, transparent 0 99.9%, #303640 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    transition: all 1.5s linear;
}

div[role="progressbar"] {
    position: absolute;
    z-index: 0;
    top: -0.58rem;
    left: -0.59rem;
}

.circle-1 > div[role="progressbar"] {
    --fg: rgba(253, 41, 112, 1);
}

.circle-2 > div[role="progressbar"] {
    --fg: rgba(252, 230, 0, 1);
}

.circle-3 > div[role="progressbar"] {
    --fg: rgba(6, 252, 63, 1);
}

.circles {
    background-color: #303640;
    border-radius: 100%;
    border: 10px solid #000000;
    min-width: 15rem;
    min-height: 15rem;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.circles > * {
    position: relative;
    top: 4.5rem;
    text-align: center;
}

.circles > h2 {
    font-size: 3.5rem;
}


.dot {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #252020;
    position: relative;
    left: 44%;
    top: -1%;
    transform: translateX(7rem);
    transition: all 1s linear;
    /*animation: move 3s linear;*/
}

.dot-1 {
    background-color: #fd2970;
    box-shadow: 1px 1px 26px 7px rgba(253, 41, 112, 1);
}

.dot-2 {
    background-color: rgba(252, 230, 0, 1);
    box-shadow: 1px 1px 26px 7px rgba(252, 230, 0, 1);
}

.dot-3 {
    background-color: rgba(6, 252, 63, 1);
    box-shadow: 1px 1px 26px 7px rgba(6, 252, 63, 1);
}

@keyframes move {
    0% {
        transform: rotate(0deg) translateX(7rem) rotate(0deg);
    }
    /*100% {*/
    /*    transform: rotate(360deg) translateX(7rem) rotate(-360deg);*/
    /*}*/
}

@keyframes growProgressBar {
    0%, 33% {
        --pgPercentage: 0;
    }
    100% {
        --pgPercentage: var(--value);
    }
}


#am-pm {
    position: absolute;
    top: 18px;
    right: -50px;
    font-size: 2.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}